<div class="card-container">
  <div class="card-img">
    <img :src="cardImage" />
  </div>
  <div class="card-wrapper">
    <h1 class="card-title">Liu Jian</h1>
    <p class="card-description">While there is life, there is hope.</p>
    <hr />
    <div class="card-list">
      <ul>
        <li><i class="iconfont icon-facebookfacebook51"></i></li>
        <li><i class="iconfont icon-Instagram"></i></li>
        <li><i class="iconfont icon-tuite"></i></li>
        <li><i class="iconfont icon-email"></i></li>
      </ul>
    </div>
  </div>
</div>
